.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #e0f7e0; /* Fondo verde claro */
  min-height: 100vh;
}

.header {
  background-color: #4caf50; /* Verde */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.listSection {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  border: 1px solid #ddd;
  padding: 12px;
  background-color: #4caf50; /* Verde */
  color: white;
  text-align: left;
}

.td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.formSection {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50; /* Verde */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.deleteButton {
  background-color: #ff4d4d; /* Rojo */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-bottom: 20px;
}